<nav>
    <ul class="nav {{include.navclass}}">
    	<li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html'%}current{% endif %}">Home</a></li>
    	<li><a href="{{site.baseurl}}/Tutorial.html" class="{% if page.url == '/Tutorial.html'%}current{% endif %}">Tutorial</a></li>
    	<li><a href="{{site.baseurl}}/About.html" class="{% if page.url == '/About.html'%}current{% endif %}">About</a></li>
    	<li><a href="{{site.baseurl}}/Blends.html" class="{% if page.url == '/Blends.html'%}current{% endif %}">Blends</a></li>
    	<li><a href="{{site.baseurl}}/Contact.html" class="{% if page.url == '/Contact.html'%}current{% endif %}">Contact</a></li>
    </ul>
</nav>